MONGODB_URI=mongodb://<username>:<password>@localhost:27017/personal-expense-tracker?authSource=admin

# Random 32-byte secret used to sign session JWTs: openssl rand -base64 32
NEXTAUTH_SECRET=<random-32-byte-secret>
# Canonical URL of this deployment
NEXTAUTH_URL=http://localhost:3000
